<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<body style="padding-top:20px; word-wrap:break-word;">
<div class="container">
<div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Request to join "<%= communityname %>" from <%= username %> </h1>
    </div>
<p>Dear <%= communityowner %> at <%= communityemail %> </p>
<p><%= username %> <%= useremail %> has requested to join community "<%= communityname %>". This community is set to grant membership to anyone who wishes to join. You may wish to write to <%= username %> at <a href="mailto:<%= useremail %>"><%= useremail %></a>, to welcome him or her to the community.</p>
<p>With best wishes</p>
<br/>
<p>Textual Communities administration</p>
</div>
</body>
</html>
