<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<body style="padding-top:20px; word-wrap:break-word;">
<div class="container">
<div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Your request to join textual community "<%= communityname %>"</h1>
    </div>
<p>Dear <%= username %> at <%= useremail %> </p>
<p>Your request to join community "<%= communityname %>" has been sent to the leader of this community, <%= communityowner %>.</p>
<p>You will receive a further email when your application to join this community has been accepted.</p>
<p>With best wishes</p>
<br/>
<p>Textual Communities administration</p>
</div>
</body>
</html>
