<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<body style="padding-top:20px; word-wrap:break-word;">
<div class="container">
<div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Page <%= pagename %> in <%= docname %> submitted for approval </h1>
    </div>
<p>Dear <%= approvername %> at <%= approvermail %> </p>
<p>Transcriber <%= username %> (<%= useremail %>) has submitted page <%= pagename %> in document <%= docname %> for approval. This request has been sent to you, as the nominated approver for that transcriber.</p>
<p>To review this page, <a href="<%= url %>">click on this link</a>.</p>
<p>With best wishes</p>
<br/>
<p>Textual Communities administration</p>
</div>
</body>
</html>
