<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body class="jumbotron text-center" style="padding: 5px 15px 15px 15px; width: 580px;  margin:0px 10px 5px 5px; font-size:120%">
			<h5><span class="fa fa-anchor"></span> Linked logins for Textual Communities for <%= user.local.name %></h5>
		<p>Textual Communities is using the email address <%= user.local.email %> to identify you and the communities to which you belong. You can link your social media accounts here.
		</p>
		<div class="row">

	 <!-- LOCAL INFORMATION.Note: mandated that there MUST be a local account, with an authenticated email, so no else -->
			<div class="col-xs-6">
				<div class="well" style="margin-bottom:10px; padding:10px">
					<h5 style="margin:0px 5px 10px 5px"><span class="fa fa-user"></span> Email/Password</h5>

					<% if (user.local.email) { %>
						<p style="margin:0px 5px 5px 5px">
							<!-- strong>id</strong>: <%= user._id %><br -->
							<strong>email</strong>: <%= user.local.email %><br>
							<strong>name</strong>: <%= user.local.name %><br>
							<strong>password</strong>: (Hidden)<br>
						</p>
            <% if (user.local.authenticated=="1") { %>
						        <p style="margin:0px 5px 0px 5px"><b>Authenticated account</b></p>
            <% } else { %>
                    <p style="margin:0px 5px 0px 5px"><b>Account not authenticated</b></p>
            <% } %>
						<!-- a href="/changeid" class="btn btn-default">Change email</a -->
					<% } else { %>
					<% } %>

				</div>
			</div>

			<!-- FACEBOOK INFORMATION -->
			<div class="col-xs-6">
				<div class="well" style="padding-bottom:6px">
					<h5 class="text-primary"  style="margin:0px 5px 10px 5px"><span class="fa fa-facebook"></span> Facebook</h5>

					<!-- check if the user has this token (is the user authenticated with this social account) -->
					<% if (user.facebook.token) { %>
						<p style="margin:0px 5px 5px 5px">
							<!-- strong>id</strong>: <%= user.facebook.id %><br>
							<strong>token</strong>: <%= user.facebook.token %><br-->
							<strong>email</strong>: <%= user.facebook.email %><br>
							<strong>name</strong>: <%= user.facebook.name %><br>
						</p>

						<a href="/auth/unlink/facebook" class="btn btn-primary btn-sm">Unlink</a>
					<% } else { %>
						<a href="/auth/connect/callfacebook" target="_parent" class="btn btn-primary btn-sm">Connect Facebook</a>
					<% } %>

				</div>
			</div>
		</div>

		<div class="row">

			<!-- TWITTER INFORMATION -->
			<div class="col-xs-6">
				<div class="well">
					<h5 class="text-info"  style="margin:0px 5px 10px 5px"><span class="fa fa-twitter"></span> Twitter</h5>

					<!-- check if the user has this token (is the user authenticated with this social account) -->
					<% if (user.twitter.token) { %>
						<p>
							<!-- strong>id</strong>: <%= user.twitter.id %><br>
							<strong>token</strong>: <%= user.twitter.token %><br-->
							<strong>display name</strong>: <%= user.twitter.displayName %><br>
							<strong>username</strong>: <%= user.twitter.username %>
						</p>

						<a href="/auth/unlink/twitter" class="btn btn-info btn-sm">Unlink</a>
					<% } else { %>
						<a href="/auth/connect/calltwitter" target="_parent" class="btn btn-info btn-sm">Connect Twitter</a>
					<% } %>

				</div>
			</div>

			<!-- GOOGLE INFORMATION -->
			<div class="col-xs-6">
				<div class="well">
					<h5 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h5>

					<!-- check if the user has this token (is the user authenticated with this social account) -->
					<% if (user.google.token) { %>
						<p>
							<!-- strong>id</strong>: <%= user.google.id %><br>
							<strong>token</strong>: <%= user.google.token %><br -->
							<strong>email</strong>: <%= user.google.email %><br>
							<strong>name</strong>: <%= user.google.name %>
						</p>

						<a href="/auth/unlink/google" class="btn btn-danger btn-sm">Unlink</a>
					<% } else { %>
						<a href="/auth/connect/google" target="_parent" class="btn btn-danger btn-sm">Connect Google</a>
					<% } %>

				</div>
			</div>

		</div>
</body>
</html>
