<!-- views/login.ejs -->
<!doctype html>
<html>
<body class="jumbotron text-center" style="width: 580px;  margin:25px 5px 5px 5px; font-size:120%">

    <h1><span class="fa fa-sign-in"></span> Reset Password for Textual Communities</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
	<p>For <%= name %> at <%= email %></p>
    <!-- New password FORM -->
    <form action="/auth/resetpw" method="post">
    	 <div class="form-group"  style="display:none">
            <input type="text" name="displayName" value="<%= name %>">
        </div>

        <div class="form-group"  style="display:none">
            <label>Email</label>
            <input type="text" class="form-control" name="email" value="<%= email %>">
        </div>
 		<div class="form-group">
            <label>New Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="passwordconfirm">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Set  password</button>
    </form>

    <hr>

    <p><a href="/">Home</a>.</p>


</body>
</html>
